<div class="m-0 p-0 min-vh-100" style="padding-bottom: 10px">
  <div class="container box">
    <div
      class="d-flex justify-content-center align-items-center border"
      style="width: 100vh; margin-left: 290px; height: 98vh"
    >
      <div class="m-0 p-0 min-vh-100">
        <div class="container">
          <div class="row">
            <div
              class="col-md-12 d-flex justify-content-between"
              style="margin-top: 10px"
            >
              <h4 class="">Article</h4>
            </div>

          </div>
          <app-form
            [categoryservice]="categoryservice"
            (info)="ajouterArticle($event)"
            (info2)="updateArticle($event)"
            [article]="article"
          ></app-form>
          <app-liste
            [categoryservice]="categoryservice"
            (info)="supprimerArticle($event)"
            (info2)="getDataToUpdate($event)"
          ></app-liste>
        </div>
      </div>
    </div>
  </div>
</div>
