<div class="bg-dark m-0 p-0 min-vh-100" style="padding-bottom: 10px">
  <div class="container">
    <div
      class="d-flex justify-content-center align-items-center border text-white"
      style="width: 100vh; margin-left: 290px; height: 98vh"
    >
      <div class="bg-dark m-0 p-0 min-vh-100">
        <div class="container">
          <div class="row">
            <div
              class="col-md-12 d-flex justify-content-between"
              style="margin-top: 10px">
              <h4 class="text-white">Article</h4>
            </div>
          </div>
            <app-form
            [libelleValue]="libelleValue"
            [getValue]="getValue"
            [chargerCategorie] = "chargerCategorie"
            [imageFile] = "imageFile"
            [fournisseurs] = "fournisseurs"
            [extension] = "extension"
            [searchTerm] = "searchTerm"
            [pathToImage] = "pathToImage"
            [imageEnBase64] = "imageEnBase64"
            [getSelectedCategory] = "getSelectedCategory"
            [extensionsAutorised] = "extensionsAutorised"
            [filteredFournisseurs] = "filteredFournisseurs"
            [libCode] = "libCode" 
            [ref] = "ref"
            [categories] = "categories"
            [selectedFournisseurs] = "selectedFournisseurs"
            [deselectFournisseur]="deselectFournisseur"
            [num] = "num"
            [categoryId] = "categoryId"
            [prix] = "prix"
            [stock]="stock"
            [updateref]="updateref"
            [onCategoryChange]="onCategoryChange"
            [getAllFournisseur]="getAllFournisseur"
            [onInputChange]="onInputChange"
            [ajouterArticle]="ajouterArticle"
            [onFileChange]="onFileChange"
            [selectFournisseur]="selectFournisseur"
            [categoryservice]="categoryservice"
            [selectedFournisseursName]="selectedFournisseursName"
            ></app-form>
            <app-liste></app-liste>
        </div>
      </div>
    </div>
  </div>
</div>