<div class="container custom-container">
  <div class="row d-flex align-items-center">
    <div class="col-md-6">
      <h3>Categorie</h3>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-end">
      <span class="form-check-label ms-2" for="flexSwitchCheckDefault"
        >edit &nbsp;</span
      >
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
          style="width: 50px; height: 20px"
          (change)="changeMode()"
        />
        <label class="form-check-label ms-2" for="flexSwitchCheckDefault"
          >Ajout</label>
      </div>
    </div>
  </div>
  <div class="row d-flex align-items-center mt-4">
    <h4 class="col-md-4">Libelle</h4>
    <div class="col-md-4">
      <input type="text" class="form-control input" [(ngModel)]="libelle" (input)="checkName(libelle)"
      />
    </div>
    <div class="col-md-4 text-end">
      <button class="btn btn-primary todisable" (click)="ajouterOuModifierCategorie()" disabled>Ok</button>
    </div>
  </div>
  <hr />
  <div class="row mt-4">
    <div class="col-md-6">
      <h5>Liste des catégories</h5>
    </div>
    <div class="col-md-6 text-end">
      <button class="btn btn-danger" id="btnSupprimer" (click)="supprimerCategorie()" disabled>Supprimer</button>
    </div>
  </div>
  <div class="container text-center">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="tocheckall"
                [checked]="selectedIds.length == categories.length"
                (change)="checkall($event)"
              />
            </div>
          </th>
          <th scope="col">Libelle</th>
        </tr>
      </thead>
      <div *ngIf="loading">Chargement en cours...</div>
      <tbody *ngFor="let categorie of categories | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index" >
        <tr *ngIf="!loading">
          <td>
            <div class="form-check">
              <input
                class="form-check-input all"
                type="checkbox"
                value=""
                id="flexCheckDefault"
                id="categorie_{{categorie.id}}"
                (change)="onItemCheckboxChange(categorie.id)"
                [checked]="selectedIds.includes(categorie.id)"
              />
            </div>
          </td>
          <td #categoryElement class="libelle" id="{{categorie.id}}" (click)="onLabelClick(categorie.libelle, categorie.id)">{{categorie.libelle}}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
  </div>
</div>
