<form
  class="row border mt-3"
  style="width: 700px"
  #f="ngForm"
>
<div style=" position: absolute; top: 60px;left: 1000px; display: flex">
  <span>Ajout</span>
  <div class="form-check form-switch" style="align-items: center; ">
    
  
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" (change)="changeMode()">
    
    <label class="form-check-label" for="flexSwitchCheckDefault">Edit</label>
  </div>
</div>

  <div class="col-md-6">

    <div class="form-group" style="margin-bottom: 10px">
      <label for="libelle" class=" ">Libellé:</label>
      <input
        [formControl]="libelle"
        type="text"
        id="libelle"
        class="form-control mb-2"
        placeholder="Libellé"
        [(ngModel)]="libelleValue"
        name="libelleValue"
        (input)="getValue()"
        autocomplete="off"
        (keyup)="updateref()"
        minlength="4"
        required
        value="{{article?.libelle}}"
      />
      <label for="prix" class=" ">Prix:</label>
      <input
        [formControl]="prixArticle"
        type="text"
        id="prix"
        class="form-control mb-2"
        placeholder="Prix"
        autocomplete="off"
        name="prix"
        required
        value="{{article?.prix}}"

      />
      <label for="stock" class=" ">Stock:</label>
      <input
        [formControl]="stockArticle"
        type="text"
        id="stock"
        class="form-control mb-2"
        placeholder="Stock"
        autocomplete="off"
        name="stock"
        [(ngModel)]="stock"
        required
        value="{{article?.stock}}"

      />
      <label for="categorie" class=" ">Catégorie:</label>
      <select
        type="text"
        id="categorie"
        class="form-control mb-2"
        placeholder="Catégorie"
        [(ngModel)]="getSelectedCategory"
        name="selectedCategory"
        (change)="updateref()"
        (change)="onCategoryChange($event)"

      >
        <option value="">Selectionnez une categorie</option>
        <option
          *ngFor="let cat of categories"
          [value]="cat.libelle"
          [id]="(cat.id !== null && cat.id !== undefined) ? cat.id : article?.categorie_id"
        >
          {{ cat.libelle }}
        </option>
      </select>

      <label for="fournisseur" class=" ">Fournisseur:</label>
      <ng-multiselect-dropdown
        [placeholder]="'Sélectionnez des fournisseurs'"
        [data]="fournisseurs"
        [(ngModel)]="selectedFournisseursByLibs"
        [settings]="dropdownSettings"
        [ngModelOptions]="{ standalone: true }"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelect)="onDeSelect($event)"
      ></ng-multiselect-dropdown>
      <button class="btn btn-primary mt-3" [disabled]="!f.valid" (click)="ajouterOuModifierArticle()" >
        Enregistrer
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <label class="btn-btn-default">
        <img [src]="imageFile ? imageFile : article?.image" id="preview" draggable="false" />
        <i
          id="1"
          class="fa fa-upload fa-2x"
          style="
            width: 250px;
            height: 250px;
            background-color: lightgray;
            margin-left: 50px;
            margin-top: 25px;
            display: block;
          "
          aria-hidden="true"
        ></i>
        <input
          id="2"
          style="display: none"
          type="file"
          class="form-control col-lg-2 col-md-2 col-sm-2"
          (change)="onFileChange($event)"
          accept="image/jpg"
          required
        />
      </label>
    </div>
    <label for="reference" class=" ">Référence:</label>
    <input
      id="reference"
      type="text"
      class="form-control"
      placeholder="Référence"
      [value]="ref"
      required
      disabled
      value="{{article?.reference}}"
    />
  </div>
</form>
