<div class="m-0 p-0 min-vh-100" style="padding-bottom: 10px">
  <div class="container box">
    <div
      class="d-flex justify-content-center align-items-center border"
      style="width: 100vh; margin-left: 290px; height: 98vh"
    >
      <div class="m-0 p-0 min-vh-100">
        <div class="container">
          <div class="row">
            <div
              class="col-md-12 d-flex justify-content-between"
              style="margin-top: 10px"
            >
              <h4 class="">Article</h4>
            </div>
          </div>
          <app-form-vente
            [Categories]="Categories"
            [articles]="Articles"
            (articleVente)="ajouterArticle($event)"
            [ArticleToEdit]="ArticleVenteToEdit"
            (articleVenteToSend)="getArticleVenteToEdit($event)"
          ></app-form-vente>
          <app-list-vente [ArticleVente]="ArticleVente" (ArticleToEdit)="getArticleIdToEdit($event)" (ArticleToDelete)="getArticleIdToDelete($event)" ></app-list-vente>
        </div>
      </div>
    </div>
  </div>
</div>
