<div *ngFor="let article of articles">
  <tr class="d-flex justify-content-between" id="{{article.id}}">
    <td>{{article.libelle}}</td>
    <td>{{article.prix}}</td>
    <td style="margin-left: 0px">{{article.stock}}</td>
    <td>{{article.categorie.libelle}}</td>
    <td>
      <button class="btn btn-sm btn-warning" style="margin-right: 15px">
        Edit
      </button>
      <button
        class="btn btn-sm btn-danger"
        (click)="confirmDelete(article)"
        *ngIf="!article.confirmingDelete; else confirmingDelete"
      >
        Supprimer
      </button>
      <ng-template #confirmingDelete>
        <button class="btn btn-sm btn-danger" (click)="supprimerDefinitivement(article)">
          OK &nbsp;&nbsp;&nbsp; {{article.countdown}} &nbsp;&nbsp;&nbsp;&nbsp;
        </button>
      </ng-template>
    </td>
  </tr>
</div>

