
<div class="row border">
  <table class="table">
    <thead 
    style="
    width: 100%;
    ">
      <tr class="d-flex" >
        <th scope="col" style="margin-left: 10px;">Libelle</th>
        <th scope="col"style="margin-left: 80px;">Qte De stock</th>
        <th scope="col"style="margin-left: 60px;">Article de Vente</th>
      </tr>
    </thead>
    <tbody >
      <app-item-vente [ArticleVente]="ArticleVente"></app-item-vente>
      <app-pagination></app-pagination>
    </tbody>
  </table>
</div>
